<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.mapper.AdminMapper">
    <!-- //查所有
    public List<Customer> findAll();-->
    <select id="adminlogin" resultType="string" parameterType="Admin">
        select adminpassword from admin where adminname=#{adminname}
    </select>
   <select id="selectallmovie" resultType="Movies" >
    SELECT * FROM movies
</select>
    <select id="findallyingyuan" resultType="Yingyuan">
        select * from yingyuan
    </select>
    <select id="findspecialyingyuan" resultType="Yingyuan">
        select * from yingyuan
        <where>
            <if test="yingYuanId!=null and yingYuanId!=''">
                yingYuanId=#{yingYuanId}
            </if>
            <if test="yingYuanName!=null and yingYuanName!=''">
             and   yingyuanname=#{yingYuanName}
            </if>
            <if test="yingYuanAddress!=null and yingYuanAddress!=''">
              and  yingyuanaddress=#{yingYuanAddress}
            </if>
        </where>
    </select>
    <update id="updateyingyuan" >
        update yingyuan
        <set>
            <if test="yingYuanName!=null and yingYuanName!=''">
                yingyuanname=#{yingYuanName},
            </if>
            <if test="yingYuanAddress!=null and yingYuanAddress!=''">
                yingYuanAddress=#{yingYuanAddress},
            </if>
        </set>
        where yingYuanId=#{yingYuanId}
    </update>
    <insert id="insertyingyuan">
        insert into yingyuan(yingyuanname,yingYuanAddress) values (#{yingYuanName},#{yingYuanAddress})

    </insert>
    <delete id="deleteyingyuan">
        delete from yingyuan where yingYuanId=#{yingYuanId}
    </delete>
</mapper>