<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.mapper.AdminMapper">
    <!-- //查所有
    public List<Customer> findAll();-->
    <select id="adminlogin" resultType="string" parameterType="Admin">
        select adminpassword from admin where adminname=#{adminname}
    </select>
   <select id="selectallmovie" resultType="Movies" >
    SELECT * FROM movies
</select>
    <select id="findallyingyuan" resultType="Yingyuan">
        select * from yingyuan
    </select>
    <select id="findspecialyingyuan" resultType="Yingyuan">
        select * from yingyuan
        <where>
            <if test="yingyuanname!=null and yingyuanname!=''">
                yingyuanname=#{yingyuanname}
            </if>
            <if test="yingyuanaddress!=null and yingyuanaddress!=''">
              and  yingyuanaddress=#{yingyuanaddress}
            </if>
        </where>
    </select>
</mapper>