<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.mapper.AllChangTingByIdMapper">
    <select id="allChangTing" resultType="com.movie.entity.Changting" parameterType="Integer">
    select * from changting where yuanId=#{yuanId}
  </select>
</mapper>