<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.mapper.UpdateMoviesMapper">
    <update id="updateMovies" parameterType="com.movie.entity.Movies">
        update movies set movieName=#{movieName},moviePrice=#{moviePrice},movieAddress=#{movieAddress},movieScore=#{movieScore},movieTypeId=#{movieTypeId},movieTime=#{movieTime},moviePname=#{moviePname},movieAbstract=#{movieAbstract},movieActor=#{movieActor} where moviesId=#{moviesId}
    </update>
</mapper>