<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.mapper.YwxMapper">

    <resultMap type="com.movie.entity.Movies" id="movies">
        <result column="moviePname" property="moviePname"/>
        <result column="movieName" property="movieName"/>
        <result column="movieActor" property="movieActor"/>
        <result column="movieScore" property="movieScore"/>
        <result column="movieAddress" property="movieAddress"/>
        <result column="movieTime" property="movieTime"/>
        <collection property="movietype" ofType="com.movie.entity.Movietype">
            <result column="movieTpyeName" property="movieTpyeName"/>
        </collection>
    </resultMap>

    <resultMap type="com.movie.entity.Movies" id="movie">
        <result column="moviePname" property="moviePname"/>
        <result column="movieName" property="movieName"/>
        <result column="movieActor" property="movieActor"/>
        <result column="movieScore" property="movieScore"/>
        <result column="movieAddress" property="movieAddress"/>
        <result column="movieTime" property="movieTime"/>
        <result column="movieAbstract" property="movieAbstract"/>
        <collection property="movietype" ofType="com.movie.entity.Movietype">
            <result column="movieTpyeName" property="movieTpyeName"/>
        </collection>
    </resultMap>

    <!--查看电影-->
     <select id="LookAll" resultType="com.movie.entity.Movies" resultMap="movies">
           SELECT m.`moviePname`,m.`movieName`,m.`movieActor`,m.`movieScore`,m.`movieAddress`,m.`movieTime`,t.`movieTpyeName` FROM movies m INNER JOIN movietype t ON m.`movieTypeId`=t.`movieTypeId`
     </select>

    <!--根据Id查看电影详情-->
    <select id="LookOne" resultType="com.movie.entity.Movies" resultMap="movie">
          SELECT m.`moviePname`,m.`movieName`,m.`movieActor`,m.`movieScore`,m.`movieAddress`,t.`movieTpyeName`,m.`movieTime`,m.movieAbstract FROM movies m INNER JOIN movietype t ON m.`movieTypeId`=t.`movieTypeId` where moviesId=#{moviesId}
    </select>

    <!--注册-->
    <insert id="zc">
           insert into customer (customerName,customerPassword,phone) values (#{customerName},#{customerPassword},#{phone})
    </insert>


</mapper>